In [1]:
import pandas as pd 
covid_data=pd.read_csv("covid_data.csv",index_col=0)
covid_data

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-02   Kenya             1250    22.0         NaN         408.0
2024-01-03   Kenya             1300     NaN       850.0         425.0
2024-01-04   Kenya             1350    27.0       870.0           NaN
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-06   Kenya             1450     NaN       920.0         498.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-08   Kenya             1550    37.0         NaN         533.0
2024-01-09   Kenya             1600    40.0      1000.0           NaN
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-02   India             5200   125.0      3600.0           NaN
2024-01-03   India             5400     NaN      3700.0        1570.0
2024-01-04   India             5600   135.0         NaN        1665.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-06   India             6000     NaN      4000.0        1855.0
2024-01-07   India             6200   150.0      4200.0           NaN
2024-01-08   India             6400   155.0         NaN        1845.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-10   India             6800     NaN      4800.0        1835.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-02     USA             8400     NaN      6200.0        1990.0
2024-01-03     USA             8600   220.0         NaN        1980.0
2024-01-04     USA             8800   230.0      6600.0           NaN
2024-01-05     USA             9000     NaN      6800.0        1960.0
2024-01-06     USA             9200   250.0         NaN        1950.0
2024-01-07     USA             9400   260.0      7200.0           NaN
2024-01-08     USA             9600     NaN      7400.0        1930.0
2024-01-09     USA             9800   280.0         NaN        1920.0
2024-01-10     USA            10000   290.0      7800.0           NaN
2024-01-01      UK             3000    70.0      2200.0         730.0
2024-01-02      UK             3100     NaN      2300.0         728.0
2024-01-03      UK             3200    75.0         NaN         725.0
2024-01-04      UK             3300    77.0      2500.0           NaN
2024-01-05      UK             3400     NaN      2600.0         720.0
2024-01-06      UK             3500    82.0         NaN         718.0
2024-01-07      UK             3600    85.0      2800.0           NaN
2024-01-08      UK             3700     NaN      2900.0         713.0
2024-01-09      UK             3800    90.0         NaN         710.0
2024-01-10      UK             3900     NaN      3100.0         708.0

In [8]:
#total covid data
print("Total covid data: ",len(covid_data))

Total covid data:  40

In [3]:
#get statistical summary for the data
covid_data.describe().round(2)

       confirmed_cases  deaths  recoveries  active_cases
count            40.00   28.00       30.00         31.00
mean           4968.75  123.11     3533.67       1195.13
std            2933.55   85.31     2234.10        645.14
min            1200.00   20.00      800.00        380.00
25%            2662.50   41.50     1315.00        648.00
50%            4450.00  105.00     3300.00        730.00
75%            7150.00  170.00     4750.00       1850.00
max           10000.00  290.00     7800.00       2000.00

In [4]:
covid_data.info()

<class 'pandas.DataFrame'>
Index: 40 entries, 2024-01-01 to 2024-01-10
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          40 non-null     str
 1   confirmed_cases  40 non-null     int64
 2   deaths           28 non-null     float64
 3   recoveries       30 non-null     float64
 4   active_cases     31 non-null     float64
dtypes: float64(3), int64(1), str(1)
memory usage: 1.9+ KB

In [7]:
#check for missing values
covid_data.isnull().sum()
#deaths column has 12 missing entries
#recovers column has 10 missing entries
#active_cases column has 9 missing entries

country             0
confirmed_cases     0
deaths             12
recoveries         10
active_cases        9
dtype: int64

In [11]:
#get occurrence summary for each country
country_data=covid_data["country"].value_counts()
country_data

country
Kenya    10
India    10
USA      10
UK       10
Name: count, dtype: int64

In [17]:
#check for country missing entries
country_missing=covid_data[covid_data["country"].isna()]
print("Countries with  missing entries: ",len(country_missing))

Countries with  missing entries:  0

In [26]:
#fetch rows and columns with empty entries
missing_entries_data=covid_data.loc[:,covid_data.isna().any()]
missing_entries_data

            deaths  recoveries  active_cases
date
2024-01-01    20.0       800.0         380.0
2024-01-02    22.0         NaN         408.0
2024-01-03     NaN       850.0         425.0
2024-01-04    27.0       870.0           NaN
2024-01-05    30.0       900.0         470.0
2024-01-06     NaN       920.0         498.0
2024-01-07    35.0       950.0         515.0
2024-01-08    37.0         NaN         533.0
2024-01-09    40.0      1000.0           NaN
2024-01-10    42.0      1020.0         588.0
2024-01-01   120.0      3500.0        1380.0
2024-01-02   125.0      3600.0           NaN
2024-01-03     NaN      3700.0        1570.0
2024-01-04   135.0         NaN        1665.0
2024-01-05   140.0      3900.0        1760.0
2024-01-06     NaN      4000.0        1855.0
2024-01-07   150.0      4200.0           NaN
2024-01-08   155.0         NaN        1845.0
2024-01-09   160.0      4600.0        1840.0
2024-01-10     NaN      4800.0        1835.0
2024-01-01   200.0      6000.0        2000.0
2024-01-02     NaN      6200.0        1990.0
2024-01-03   220.0         NaN        1980.0
2024-01-04   230.0      6600.0           NaN
2024-01-05     NaN      6800.0        1960.0
2024-01-06   250.0         NaN        1950.0
2024-01-07   260.0      7200.0           NaN
2024-01-08     NaN      7400.0        1930.0
2024-01-09   280.0         NaN        1920.0
2024-01-10   290.0      7800.0           NaN
2024-01-01    70.0      2200.0         730.0
2024-01-02     NaN      2300.0         728.0
2024-01-03    75.0         NaN         725.0
2024-01-04    77.0      2500.0           NaN
2024-01-05     NaN      2600.0         720.0
2024-01-06    82.0         NaN         718.0
2024-01-07    85.0      2800.0           NaN
2024-01-08     NaN      2900.0         713.0
2024-01-09    90.0         NaN         710.0
2024-01-10     NaN      3100.0         708.0

In [27]:
complete_dataset=covid_data.dropna()
complete_dataset

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-01      UK             3000    70.0      2200.0         730.0

In [30]:
#total covid data
print("Total covid dataset: ",len(covid_data))
print("Total complete dataset: ",len(complete_dataset))
print("Total dataset with missing entries: ",len(missing_entries_data))

Total covid dataset:  40
Total complete dataset:  9
Total dataset with missing entries:  40

In [36]:
#display results with empty values prefilled with 0 as default value
complete_covid_data=covid_data.fillna(0)
complete_covid_data

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-02   Kenya             1250    22.0         0.0         408.0
2024-01-03   Kenya             1300     0.0       850.0         425.0
2024-01-04   Kenya             1350    27.0       870.0           0.0
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-06   Kenya             1450     0.0       920.0         498.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-08   Kenya             1550    37.0         0.0         533.0
2024-01-09   Kenya             1600    40.0      1000.0           0.0
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-02   India             5200   125.0      3600.0           0.0
2024-01-03   India             5400     0.0      3700.0        1570.0
2024-01-04   India             5600   135.0         0.0        1665.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-06   India             6000     0.0      4000.0        1855.0
2024-01-07   India             6200   150.0      4200.0           0.0
2024-01-08   India             6400   155.0         0.0        1845.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-10   India             6800     0.0      4800.0        1835.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-02     USA             8400     0.0      6200.0        1990.0
2024-01-03     USA             8600   220.0         0.0        1980.0
2024-01-04     USA             8800   230.0      6600.0           0.0
2024-01-05     USA             9000     0.0      6800.0        1960.0
2024-01-06     USA             9200   250.0         0.0        1950.0
2024-01-07     USA             9400   260.0      7200.0           0.0
2024-01-08     USA             9600     0.0      7400.0        1930.0
2024-01-09     USA             9800   280.0         0.0        1920.0
2024-01-10     USA            10000   290.0      7800.0           0.0
2024-01-01      UK             3000    70.0      2200.0         730.0
2024-01-02      UK             3100     0.0      2300.0         728.0
2024-01-03      UK             3200    75.0         0.0         725.0
2024-01-04      UK             3300    77.0      2500.0           0.0
2024-01-05      UK             3400     0.0      2600.0         720.0
2024-01-06      UK             3500    82.0         0.0         718.0
2024-01-07      UK             3600    85.0      2800.0           0.0
2024-01-08      UK             3700     0.0      2900.0         713.0
2024-01-09      UK             3800    90.0         0.0         710.0
2024-01-10      UK             3900     0.0      3100.0         708.0