In [35]:
import pandas as pd 
covid_data=pd.read_csv("covid_data.csv",index_col=0)
covid_data_copy=covid_data.copy()

In [36]:
covid_data_copy

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-02   Kenya             1250    22.0         NaN         408.0
2024-01-03   Kenya             1300     NaN       850.0         425.0
2024-01-04   Kenya             1350    27.0       870.0           NaN
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-06   Kenya             1450     NaN       920.0         498.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-08   Kenya             1550    37.0         NaN         533.0
2024-01-09   Kenya             1600    40.0      1000.0           NaN
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-02   India             5200   125.0      3600.0           NaN
2024-01-03   India             5400     NaN      3700.0        1570.0
2024-01-04   India             5600   135.0         NaN        1665.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-06   India             6000     NaN      4000.0        1855.0
2024-01-07   India             6200   150.0      4200.0           NaN
2024-01-08   India             6400   155.0         NaN        1845.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-10   India             6800     NaN      4800.0        1835.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-02     USA             8400     NaN      6200.0        1990.0
2024-01-03     USA             8600   220.0         NaN        1980.0
2024-01-04     USA             8800   230.0      6600.0           NaN
2024-01-05     USA             9000     NaN      6800.0        1960.0
2024-01-06     USA             9200   250.0         NaN        1950.0
2024-01-07     USA             9400   260.0      7200.0           NaN
2024-01-08     USA             9600     NaN      7400.0        1930.0
2024-01-09     USA             9800   280.0         NaN        1920.0
2024-01-10     USA            10000   290.0      7800.0           NaN
2024-01-01      UK             3000    70.0      2200.0         730.0
2024-01-02      UK             3100     NaN      2300.0         728.0
2024-01-03      UK             3200    75.0         NaN         725.0
2024-01-04      UK             3300    77.0      2500.0           NaN
2024-01-05      UK             3400     NaN      2600.0         720.0
2024-01-06      UK             3500    82.0         NaN         718.0
2024-01-07      UK             3600    85.0      2800.0           NaN
2024-01-08      UK             3700     NaN      2900.0         713.0
2024-01-09      UK             3800    90.0         NaN         710.0
2024-01-10      UK             3900     NaN      3100.0         708.0

In [37]:
#total covid data
print("Total covid data: ",len(covid_data_copy))

Total covid data:  40

In [38]:
#get statistical summary for the data
covid_data_copy.describe().round(2)

       confirmed_cases  deaths  recoveries  active_cases
count            40.00   28.00       30.00         31.00
mean           4968.75  123.11     3533.67       1195.13
std            2933.55   85.31     2234.10        645.14
min            1200.00   20.00      800.00        380.00
25%            2662.50   41.50     1315.00        648.00
50%            4450.00  105.00     3300.00        730.00
75%            7150.00  170.00     4750.00       1850.00
max           10000.00  290.00     7800.00       2000.00

In [39]:
covid_data_copy.info()

<class 'pandas.DataFrame'>
Index: 40 entries, 2024-01-01 to 2024-01-10
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          40 non-null     str
 1   confirmed_cases  40 non-null     int64
 2   deaths           28 non-null     float64
 3   recoveries       30 non-null     float64
 4   active_cases     31 non-null     float64
dtypes: float64(3), int64(1), str(1)
memory usage: 1.9+ KB

In [40]:
#check for missing values
covid_data_copy.isnull().sum()
#deaths column has 12 missing entries
#recovers column has 10 missing entries
#active_cases column has 9 missing entries

country             0
confirmed_cases     0
deaths             12
recoveries         10
active_cases        9
dtype: int64

In [41]:
#get occurrence summary for each country
country_data=covid_data_copy["country"].value_counts()
country_data

country
Kenya    10
India    10
USA      10
UK       10
Name: count, dtype: int64

In [42]:
#check for country missing entries
country_missing=covid_data[covid_data_copy["country"].isna()]
print("Countries with  missing entries: ",len(country_missing))

Countries with  missing entries:  0

In [43]:
#fetch rows and columns with empty entries
missing_entries_data=covid_data_copy.loc[:,covid_data_copy.isna().any()]
missing_entries_data

            deaths  recoveries  active_cases
date
2024-01-01    20.0       800.0         380.0
2024-01-02    22.0         NaN         408.0
2024-01-03     NaN       850.0         425.0
2024-01-04    27.0       870.0           NaN
2024-01-05    30.0       900.0         470.0
2024-01-06     NaN       920.0         498.0
2024-01-07    35.0       950.0         515.0
2024-01-08    37.0         NaN         533.0
2024-01-09    40.0      1000.0           NaN
2024-01-10    42.0      1020.0         588.0
2024-01-01   120.0      3500.0        1380.0
2024-01-02   125.0      3600.0           NaN
2024-01-03     NaN      3700.0        1570.0
2024-01-04   135.0         NaN        1665.0
2024-01-05   140.0      3900.0        1760.0
2024-01-06     NaN      4000.0        1855.0
2024-01-07   150.0      4200.0           NaN
2024-01-08   155.0         NaN        1845.0
2024-01-09   160.0      4600.0        1840.0
2024-01-10     NaN      4800.0        1835.0
2024-01-01   200.0      6000.0        2000.0
2024-01-02     NaN      6200.0        1990.0
2024-01-03   220.0         NaN        1980.0
2024-01-04   230.0      6600.0           NaN
2024-01-05     NaN      6800.0        1960.0
2024-01-06   250.0         NaN        1950.0
2024-01-07   260.0      7200.0           NaN
2024-01-08     NaN      7400.0        1930.0
2024-01-09   280.0         NaN        1920.0
2024-01-10   290.0      7800.0           NaN
2024-01-01    70.0      2200.0         730.0
2024-01-02     NaN      2300.0         728.0
2024-01-03    75.0         NaN         725.0
2024-01-04    77.0      2500.0           NaN
2024-01-05     NaN      2600.0         720.0
2024-01-06    82.0         NaN         718.0
2024-01-07    85.0      2800.0           NaN
2024-01-08     NaN      2900.0         713.0
2024-01-09    90.0         NaN         710.0
2024-01-10     NaN      3100.0         708.0

In [44]:
covid_data_copy

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-02   Kenya             1250    22.0         NaN         408.0
2024-01-03   Kenya             1300     NaN       850.0         425.0
2024-01-04   Kenya             1350    27.0       870.0           NaN
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-06   Kenya             1450     NaN       920.0         498.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-08   Kenya             1550    37.0         NaN         533.0
2024-01-09   Kenya             1600    40.0      1000.0           NaN
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-02   India             5200   125.0      3600.0           NaN
2024-01-03   India             5400     NaN      3700.0        1570.0
2024-01-04   India             5600   135.0         NaN        1665.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-06   India             6000     NaN      4000.0        1855.0
2024-01-07   India             6200   150.0      4200.0           NaN
2024-01-08   India             6400   155.0         NaN        1845.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-10   India             6800     NaN      4800.0        1835.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-02     USA             8400     NaN      6200.0        1990.0
2024-01-03     USA             8600   220.0         NaN        1980.0
2024-01-04     USA             8800   230.0      6600.0           NaN
2024-01-05     USA             9000     NaN      6800.0        1960.0
2024-01-06     USA             9200   250.0         NaN        1950.0
2024-01-07     USA             9400   260.0      7200.0           NaN
2024-01-08     USA             9600     NaN      7400.0        1930.0
2024-01-09     USA             9800   280.0         NaN        1920.0
2024-01-10     USA            10000   290.0      7800.0           NaN
2024-01-01      UK             3000    70.0      2200.0         730.0
2024-01-02      UK             3100     NaN      2300.0         728.0
2024-01-03      UK             3200    75.0         NaN         725.0
2024-01-04      UK             3300    77.0      2500.0           NaN
2024-01-05      UK             3400     NaN      2600.0         720.0
2024-01-06      UK             3500    82.0         NaN         718.0
2024-01-07      UK             3600    85.0      2800.0           NaN
2024-01-08      UK             3700     NaN      2900.0         713.0
2024-01-09      UK             3800    90.0         NaN         710.0
2024-01-10      UK             3900     NaN      3100.0         708.0

In [45]:
#forward fill missing  values since it is cummulative dataset
covid_data_copy[["confirmed_cases","deaths","recoveries","active_cases"]]=(
    covid_data_copy.groupby("country")[["confirmed_cases","deaths","recoveries","active_cases"]].ffill())
covid_data_copy

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-02   Kenya             1250    22.0       800.0         408.0
2024-01-03   Kenya             1300    22.0       850.0         425.0
2024-01-04   Kenya             1350    27.0       870.0         425.0
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-06   Kenya             1450    30.0       920.0         498.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-08   Kenya             1550    37.0       950.0         533.0
2024-01-09   Kenya             1600    40.0      1000.0         533.0
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-02   India             5200   125.0      3600.0        1380.0
2024-01-03   India             5400   125.0      3700.0        1570.0
2024-01-04   India             5600   135.0      3700.0        1665.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-06   India             6000   140.0      4000.0        1855.0
2024-01-07   India             6200   150.0      4200.0        1855.0
2024-01-08   India             6400   155.0      4200.0        1845.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-10   India             6800   160.0      4800.0        1835.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-02     USA             8400   200.0      6200.0        1990.0
2024-01-03     USA             8600   220.0      6200.0        1980.0
2024-01-04     USA             8800   230.0      6600.0        1980.0
2024-01-05     USA             9000   230.0      6800.0        1960.0
2024-01-06     USA             9200   250.0      6800.0        1950.0
2024-01-07     USA             9400   260.0      7200.0        1950.0
2024-01-08     USA             9600   260.0      7400.0        1930.0
2024-01-09     USA             9800   280.0      7400.0        1920.0
2024-01-10     USA            10000   290.0      7800.0        1920.0
2024-01-01      UK             3000    70.0      2200.0         730.0
2024-01-02      UK             3100    70.0      2300.0         728.0
2024-01-03      UK             3200    75.0      2300.0         725.0
2024-01-04      UK             3300    77.0      2500.0         725.0
2024-01-05      UK             3400    77.0      2600.0         720.0
2024-01-06      UK             3500    82.0      2600.0         718.0
2024-01-07      UK             3600    85.0      2800.0         718.0
2024-01-08      UK             3700    85.0      2900.0         713.0
2024-01-09      UK             3800    90.0      2900.0         710.0
2024-01-10      UK             3900    90.0      3100.0         708.0

In [46]:
#recalculate active cases
covid_data_copy["active_cases"]=(covid_data_copy["confirmed_cases"]-covid_data_copy["deaths"]-covid_data_copy["recoveries"])
covid_data_copy

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-02   Kenya             1250    22.0       800.0         428.0
2024-01-03   Kenya             1300    22.0       850.0         428.0
2024-01-04   Kenya             1350    27.0       870.0         453.0
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-06   Kenya             1450    30.0       920.0         500.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-08   Kenya             1550    37.0       950.0         563.0
2024-01-09   Kenya             1600    40.0      1000.0         560.0
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-02   India             5200   125.0      3600.0        1475.0
2024-01-03   India             5400   125.0      3700.0        1575.0
2024-01-04   India             5600   135.0      3700.0        1765.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-06   India             6000   140.0      4000.0        1860.0
2024-01-07   India             6200   150.0      4200.0        1850.0
2024-01-08   India             6400   155.0      4200.0        2045.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-10   India             6800   160.0      4800.0        1840.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-02     USA             8400   200.0      6200.0        2000.0
2024-01-03     USA             8600   220.0      6200.0        2180.0
2024-01-04     USA             8800   230.0      6600.0        1970.0
2024-01-05     USA             9000   230.0      6800.0        1970.0
2024-01-06     USA             9200   250.0      6800.0        2150.0
2024-01-07     USA             9400   260.0      7200.0        1940.0
2024-01-08     USA             9600   260.0      7400.0        1940.0
2024-01-09     USA             9800   280.0      7400.0        2120.0
2024-01-10     USA            10000   290.0      7800.0        1910.0
2024-01-01      UK             3000    70.0      2200.0         730.0
2024-01-02      UK             3100    70.0      2300.0         730.0
2024-01-03      UK             3200    75.0      2300.0         825.0
2024-01-04      UK             3300    77.0      2500.0         723.0
2024-01-05      UK             3400    77.0      2600.0         723.0
2024-01-06      UK             3500    82.0      2600.0         818.0
2024-01-07      UK             3600    85.0      2800.0         715.0
2024-01-08      UK             3700    85.0      2900.0         715.0
2024-01-09      UK             3800    90.0      2900.0         810.0
2024-01-10      UK             3900    90.0      3100.0         710.0

In [47]:
# Death Rate=confirmed casesdeaths100
# Recovery Rate=confirmed casesrecoveries100
# ctive Rate=confirmed casesactive cases100

In [48]:
#calcuate death rate
covid_data_copy["death_rate_%"]=(
    (covid_data_copy["deaths"]/covid_data_copy['confirmed_cases'])*100
).round(2)
covid_data_copy

,country,confirmed_cases,deaths,recoveries,active_cases,death_rate_%
date,,,,,,
2024-01-01,Kenya,1200,20.0,800.0,380.0,1.67
2024-01-02,Kenya,1250,22.0,800.0,428.0,1.76
2024-01-03,Kenya,1300,22.0,850.0,428.0,1.69
2024-01-04,Kenya,1350,27.0,870.0,453.0,2.00
2024-01-05,Kenya,1400,30.0,900.0,470.0,2.14
2024-01-06,Kenya,1450,30.0,920.0,500.0,2.07
2024-01-07,Kenya,1500,35.0,950.0,515.0,2.33
2024-01-08,Kenya,1550,37.0,950.0,563.0,2.39
2024-01-09,Kenya,1600,40.0,1000.0,560.0,2.50
2024-01-10,Kenya,1650,42.0,1020.0,588.0,2.55
2024-01-01,India,5000,120.0,3500.0,1380.0,2.40
2024-01-02,India,5200,125.0,3600.0,1475.0,2.40
2024-01-03,India,5400,125.0,3700.0,1575.0,2.31
2024-01-04,India,5600,135.0,3700.0,1765.0,2.41
2024-01-05,India,5800,140.0,3900.0,1760.0,2.41
2024-01-06,India,6000,140.0,4000.0,1860.0,2.33
2024-01-07,India,6200,150.0,4200.0,1850.0,2.42
2024-01-08,India,6400,155.0,4200.0,2045.0,2.42
2024-01-09,India,6600,160.0,4600.0,1840.0,2.42
2024-01-10,India,6800,160.0,4800.0,1840.0,2.35
2024-01-01,USA,8200,200.0,6000.0,2000.0,2.44
2024-01-02,USA,8400,200.0,6200.0,2000.0,2.38
2024-01-03,USA,8600,220.0,6200.0,2180.0,2.56
2024-01-04,USA,8800,230.0,6600.0,1970.0,2.61
2024-01-05,USA,9000,230.0,6800.0,1970.0,2.56
2024-01-06,USA,9200,250.0,6800.0,2150.0,2.72
2024-01-07,USA,9400,260.0,7200.0,1940.0,2.77
2024-01-08,USA,9600,260.0,7400.0,1940.0,2.71
2024-01-09,USA,9800,280.0,7400.0,2120.0,2.86
2024-01-10,USA,10000,290.0,7800.0,1910.0,2.90
2024-01-01,UK,3000,70.0,2200.0,730.0,2.33
2024-01-02,UK,3100,70.0,2300.0,730.0,2.26
2024-01-03,UK,3200,75.0,2300.0,825.0,2.34
2024-01-04,UK,3300,77.0,2500.0,723.0,2.33
2024-01-05,UK,3400,77.0,2600.0,723.0,2.26
2024-01-06,UK,3500,82.0,2600.0,818.0,2.34
2024-01-07,UK,3600,85.0,2800.0,715.0,2.36
2024-01-08,UK,3700,85.0,2900.0,715.0,2.30
2024-01-09,UK,3800,90.0,2900.0,810.0,2.37
2024-01-10,UK,3900,90.0,3100.0,710.0,2.31

In [49]:
#calcuate recoveries rate
covid_data_copy["recoveries_rate_%"]=(
    (covid_data_copy["recoveries"]/covid_data_copy['confirmed_cases'])*100
).round(2)
covid_data_copy

,country,confirmed_cases,deaths,recoveries,active_cases,death_rate_%,recoveries_rate_%
date,,,,,,,
2024-01-01,Kenya,1200,20.0,800.0,380.0,1.67,66.67
2024-01-02,Kenya,1250,22.0,800.0,428.0,1.76,64.00
2024-01-03,Kenya,1300,22.0,850.0,428.0,1.69,65.38
2024-01-04,Kenya,1350,27.0,870.0,453.0,2.00,64.44
2024-01-05,Kenya,1400,30.0,900.0,470.0,2.14,64.29
2024-01-06,Kenya,1450,30.0,920.0,500.0,2.07,63.45
2024-01-07,Kenya,1500,35.0,950.0,515.0,2.33,63.33
2024-01-08,Kenya,1550,37.0,950.0,563.0,2.39,61.29
2024-01-09,Kenya,1600,40.0,1000.0,560.0,2.50,62.50
2024-01-10,Kenya,1650,42.0,1020.0,588.0,2.55,61.82
2024-01-01,India,5000,120.0,3500.0,1380.0,2.40,70.00
2024-01-02,India,5200,125.0,3600.0,1475.0,2.40,69.23
2024-01-03,India,5400,125.0,3700.0,1575.0,2.31,68.52
2024-01-04,India,5600,135.0,3700.0,1765.0,2.41,66.07
2024-01-05,India,5800,140.0,3900.0,1760.0,2.41,67.24
2024-01-06,India,6000,140.0,4000.0,1860.0,2.33,66.67
2024-01-07,India,6200,150.0,4200.0,1850.0,2.42,67.74
2024-01-08,India,6400,155.0,4200.0,2045.0,2.42,65.62
2024-01-09,India,6600,160.0,4600.0,1840.0,2.42,69.70
2024-01-10,India,6800,160.0,4800.0,1840.0,2.35,70.59
2024-01-01,USA,8200,200.0,6000.0,2000.0,2.44,73.17
2024-01-02,USA,8400,200.0,6200.0,2000.0,2.38,73.81
2024-01-03,USA,8600,220.0,6200.0,2180.0,2.56,72.09
2024-01-04,USA,8800,230.0,6600.0,1970.0,2.61,75.00
2024-01-05,USA,9000,230.0,6800.0,1970.0,2.56,75.56
2024-01-06,USA,9200,250.0,6800.0,2150.0,2.72,73.91
2024-01-07,USA,9400,260.0,7200.0,1940.0,2.77,76.60
2024-01-08,USA,9600,260.0,7400.0,1940.0,2.71,77.08
2024-01-09,USA,9800,280.0,7400.0,2120.0,2.86,75.51
2024-01-10,USA,10000,290.0,7800.0,1910.0,2.90,78.00
2024-01-01,UK,3000,70.0,2200.0,730.0,2.33,73.33
2024-01-02,UK,3100,70.0,2300.0,730.0,2.26,74.19
2024-01-03,UK,3200,75.0,2300.0,825.0,2.34,71.88
2024-01-04,UK,3300,77.0,2500.0,723.0,2.33,75.76
2024-01-05,UK,3400,77.0,2600.0,723.0,2.26,76.47
2024-01-06,UK,3500,82.0,2600.0,818.0,2.34,74.29
2024-01-07,UK,3600,85.0,2800.0,715.0,2.36,77.78
2024-01-08,UK,3700,85.0,2900.0,715.0,2.30,78.38
2024-01-09,UK,3800,90.0,2900.0,810.0,2.37,76.32
2024-01-10,UK,3900,90.0,3100.0,710.0,2.31,79.49

In [50]:
#calcuate active cases rate
covid_data_copy["active_cases_rate_%"]=(
    (covid_data_copy["active_cases"]/covid_data_copy['confirmed_cases'])*100
).round(2)
covid_data_copy

,country,confirmed_cases,deaths,recoveries,active_cases,death_rate_%,recoveries_rate_%,active_cases_rate_%
date,,,,,,,,
2024-01-01,Kenya,1200,20.0,800.0,380.0,1.67,66.67,31.67
2024-01-02,Kenya,1250,22.0,800.0,428.0,1.76,64.00,34.24
2024-01-03,Kenya,1300,22.0,850.0,428.0,1.69,65.38,32.92
2024-01-04,Kenya,1350,27.0,870.0,453.0,2.00,64.44,33.56
2024-01-05,Kenya,1400,30.0,900.0,470.0,2.14,64.29,33.57
2024-01-06,Kenya,1450,30.0,920.0,500.0,2.07,63.45,34.48
2024-01-07,Kenya,1500,35.0,950.0,515.0,2.33,63.33,34.33
2024-01-08,Kenya,1550,37.0,950.0,563.0,2.39,61.29,36.32
2024-01-09,Kenya,1600,40.0,1000.0,560.0,2.50,62.50,35.00
2024-01-10,Kenya,1650,42.0,1020.0,588.0,2.55,61.82,35.64
2024-01-01,India,5000,120.0,3500.0,1380.0,2.40,70.00,27.60
2024-01-02,India,5200,125.0,3600.0,1475.0,2.40,69.23,28.37
2024-01-03,India,5400,125.0,3700.0,1575.0,2.31,68.52,29.17
2024-01-04,India,5600,135.0,3700.0,1765.0,2.41,66.07,31.52
2024-01-05,India,5800,140.0,3900.0,1760.0,2.41,67.24,30.34
2024-01-06,India,6000,140.0,4000.0,1860.0,2.33,66.67,31.00
2024-01-07,India,6200,150.0,4200.0,1850.0,2.42,67.74,29.84
2024-01-08,India,6400,155.0,4200.0,2045.0,2.42,65.62,31.95
2024-01-09,India,6600,160.0,4600.0,1840.0,2.42,69.70,27.88
2024-01-10,India,6800,160.0,4800.0,1840.0,2.35,70.59,27.06
2024-01-01,USA,8200,200.0,6000.0,2000.0,2.44,73.17,24.39
2024-01-02,USA,8400,200.0,6200.0,2000.0,2.38,73.81,23.81
2024-01-03,USA,8600,220.0,6200.0,2180.0,2.56,72.09,25.35
2024-01-04,USA,8800,230.0,6600.0,1970.0,2.61,75.00,22.39
2024-01-05,USA,9000,230.0,6800.0,1970.0,2.56,75.56,21.89
2024-01-06,USA,9200,250.0,6800.0,2150.0,2.72,73.91,23.37
2024-01-07,USA,9400,260.0,7200.0,1940.0,2.77,76.60,20.64
2024-01-08,USA,9600,260.0,7400.0,1940.0,2.71,77.08,20.21
2024-01-09,USA,9800,280.0,7400.0,2120.0,2.86,75.51,21.63
2024-01-10,USA,10000,290.0,7800.0,1910.0,2.90,78.00,19.10
2024-01-01,UK,3000,70.0,2200.0,730.0,2.33,73.33,24.33
2024-01-02,UK,3100,70.0,2300.0,730.0,2.26,74.19,23.55
2024-01-03,UK,3200,75.0,2300.0,825.0,2.34,71.88,25.78
2024-01-04,UK,3300,77.0,2500.0,723.0,2.33,75.76,21.91
2024-01-05,UK,3400,77.0,2600.0,723.0,2.26,76.47,21.26
2024-01-06,UK,3500,82.0,2600.0,818.0,2.34,74.29,23.37
2024-01-07,UK,3600,85.0,2800.0,715.0,2.36,77.78,19.86
2024-01-08,UK,3700,85.0,2900.0,715.0,2.30,78.38,19.32
2024-01-09,UK,3800,90.0,2900.0,810.0,2.37,76.32,21.32
2024-01-10,UK,3900,90.0,3100.0,710.0,2.31,79.49,18.21

In [51]:
# Confirmed Cases Growth Rate (Day-to-Day)
# Growth Rate=PreviousCurrentPrevious100

In [52]:
#add growth rate 
covid_data_copy["confirmed_growth_%"]=(
    covid_data_copy.groupby("country")["confirmed_cases"].pct_change()*100
).round(2)
covid_data_copy

,country,confirmed_cases,deaths,recoveries,active_cases,death_rate_%,recoveries_rate_%,active_cases_rate_%,confirmed_growth_%
date,,,,,,,,,
2024-01-01,Kenya,1200,20.0,800.0,380.0,1.67,66.67,31.67,NaN
2024-01-02,Kenya,1250,22.0,800.0,428.0,1.76,64.00,34.24,4.17
2024-01-03,Kenya,1300,22.0,850.0,428.0,1.69,65.38,32.92,4.00
2024-01-04,Kenya,1350,27.0,870.0,453.0,2.00,64.44,33.56,3.85
2024-01-05,Kenya,1400,30.0,900.0,470.0,2.14,64.29,33.57,3.70
2024-01-06,Kenya,1450,30.0,920.0,500.0,2.07,63.45,34.48,3.57
2024-01-07,Kenya,1500,35.0,950.0,515.0,2.33,63.33,34.33,3.45
2024-01-08,Kenya,1550,37.0,950.0,563.0,2.39,61.29,36.32,3.33
2024-01-09,Kenya,1600,40.0,1000.0,560.0,2.50,62.50,35.00,3.23
2024-01-10,Kenya,1650,42.0,1020.0,588.0,2.55,61.82,35.64,3.12
2024-01-01,India,5000,120.0,3500.0,1380.0,2.40,70.00,27.60,NaN
2024-01-02,India,5200,125.0,3600.0,1475.0,2.40,69.23,28.37,4.00
2024-01-03,India,5400,125.0,3700.0,1575.0,2.31,68.52,29.17,3.85
2024-01-04,India,5600,135.0,3700.0,1765.0,2.41,66.07,31.52,3.70
2024-01-05,India,5800,140.0,3900.0,1760.0,2.41,67.24,30.34,3.57
2024-01-06,India,6000,140.0,4000.0,1860.0,2.33,66.67,31.00,3.45
2024-01-07,India,6200,150.0,4200.0,1850.0,2.42,67.74,29.84,3.33
2024-01-08,India,6400,155.0,4200.0,2045.0,2.42,65.62,31.95,3.23
2024-01-09,India,6600,160.0,4600.0,1840.0,2.42,69.70,27.88,3.12
2024-01-10,India,6800,160.0,4800.0,1840.0,2.35,70.59,27.06,3.03
2024-01-01,USA,8200,200.0,6000.0,2000.0,2.44,73.17,24.39,NaN
2024-01-02,USA,8400,200.0,6200.0,2000.0,2.38,73.81,23.81,2.44
2024-01-03,USA,8600,220.0,6200.0,2180.0,2.56,72.09,25.35,2.38
2024-01-04,USA,8800,230.0,6600.0,1970.0,2.61,75.00,22.39,2.33
2024-01-05,USA,9000,230.0,6800.0,1970.0,2.56,75.56,21.89,2.27
2024-01-06,USA,9200,250.0,6800.0,2150.0,2.72,73.91,23.37,2.22
2024-01-07,USA,9400,260.0,7200.0,1940.0,2.77,76.60,20.64,2.17
2024-01-08,USA,9600,260.0,7400.0,1940.0,2.71,77.08,20.21,2.13
2024-01-09,USA,9800,280.0,7400.0,2120.0,2.86,75.51,21.63,2.08
2024-01-10,USA,10000,290.0,7800.0,1910.0,2.90,78.00,19.10,2.04
2024-01-01,UK,3000,70.0,2200.0,730.0,2.33,73.33,24.33,NaN
2024-01-02,UK,3100,70.0,2300.0,730.0,2.26,74.19,23.55,3.33
2024-01-03,UK,3200,75.0,2300.0,825.0,2.34,71.88,25.78,3.23
2024-01-04,UK,3300,77.0,2500.0,723.0,2.33,75.76,21.91,3.12
2024-01-05,UK,3400,77.0,2600.0,723.0,2.26,76.47,21.26,3.03
2024-01-06,UK,3500,82.0,2600.0,818.0,2.34,74.29,23.37,2.94
2024-01-07,UK,3600,85.0,2800.0,715.0,2.36,77.78,19.86,2.86
2024-01-08,UK,3700,85.0,2900.0,715.0,2.30,78.38,19.32,2.78
2024-01-09,UK,3800,90.0,2900.0,810.0,2.37,76.32,21.32,2.70
2024-01-10,UK,3900,90.0,3100.0,710.0,2.31,79.49,18.21,2.63

In [53]:
covid_data

           country  confirmed_cases  deaths  recoveries  active_cases
date
2024-01-01   Kenya             1200    20.0       800.0         380.0
2024-01-02   Kenya             1250    22.0         NaN         408.0
2024-01-03   Kenya             1300     NaN       850.0         425.0
2024-01-04   Kenya             1350    27.0       870.0           NaN
2024-01-05   Kenya             1400    30.0       900.0         470.0
2024-01-06   Kenya             1450     NaN       920.0         498.0
2024-01-07   Kenya             1500    35.0       950.0         515.0
2024-01-08   Kenya             1550    37.0         NaN         533.0
2024-01-09   Kenya             1600    40.0      1000.0           NaN
2024-01-10   Kenya             1650    42.0      1020.0         588.0
2024-01-01   India             5000   120.0      3500.0        1380.0
2024-01-02   India             5200   125.0      3600.0           NaN
2024-01-03   India             5400     NaN      3700.0        1570.0
2024-01-04   India             5600   135.0         NaN        1665.0
2024-01-05   India             5800   140.0      3900.0        1760.0
2024-01-06   India             6000     NaN      4000.0        1855.0
2024-01-07   India             6200   150.0      4200.0           NaN
2024-01-08   India             6400   155.0         NaN        1845.0
2024-01-09   India             6600   160.0      4600.0        1840.0
2024-01-10   India             6800     NaN      4800.0        1835.0
2024-01-01     USA             8200   200.0      6000.0        2000.0
2024-01-02     USA             8400     NaN      6200.0        1990.0
2024-01-03     USA             8600   220.0         NaN        1980.0
2024-01-04     USA             8800   230.0      6600.0           NaN
2024-01-05     USA             9000     NaN      6800.0        1960.0
2024-01-06     USA             9200   250.0         NaN        1950.0
2024-01-07     USA             9400   260.0      7200.0           NaN
2024-01-08     USA             9600     NaN      7400.0        1930.0
2024-01-09     USA             9800   280.0         NaN        1920.0
2024-01-10     USA            10000   290.0      7800.0           NaN
2024-01-01      UK             3000    70.0      2200.0         730.0
2024-01-02      UK             3100     NaN      2300.0         728.0
2024-01-03      UK             3200    75.0         NaN         725.0
2024-01-04      UK             3300    77.0      2500.0           NaN
2024-01-05      UK             3400     NaN      2600.0         720.0
2024-01-06      UK             3500    82.0         NaN         718.0
2024-01-07      UK             3600    85.0      2800.0           NaN
2024-01-08      UK             3700     NaN      2900.0         713.0
2024-01-09      UK             3800    90.0         NaN         710.0
2024-01-10      UK             3900     NaN      3100.0         708.0

In [62]:
#prefill first day growth rate with 0
covid_data_copy["confirmed_growth_%"]=covid_data_copy["confirmed_growth_%"].fillna(0)
covid_data_copy

,country,confirmed_cases,deaths,recoveries,active_cases,death_rate_%,recoveries_rate_%,active_cases_rate_%,confirmed_growth_%,total_rate_check
date,,,,,,,,,,
2024-01-01,Kenya,1200,20.0,800.0,380.0,1.67,66.67,31.67,0.00,100.01
2024-01-02,Kenya,1250,22.0,800.0,428.0,1.76,64.00,34.24,4.17,100.00
2024-01-03,Kenya,1300,22.0,850.0,428.0,1.69,65.38,32.92,4.00,99.99
2024-01-04,Kenya,1350,27.0,870.0,453.0,2.00,64.44,33.56,3.85,100.00
2024-01-05,Kenya,1400,30.0,900.0,470.0,2.14,64.29,33.57,3.70,100.00
2024-01-06,Kenya,1450,30.0,920.0,500.0,2.07,63.45,34.48,3.57,100.00
2024-01-07,Kenya,1500,35.0,950.0,515.0,2.33,63.33,34.33,3.45,99.99
2024-01-08,Kenya,1550,37.0,950.0,563.0,2.39,61.29,36.32,3.33,100.00
2024-01-09,Kenya,1600,40.0,1000.0,560.0,2.50,62.50,35.00,3.23,100.00
2024-01-10,Kenya,1650,42.0,1020.0,588.0,2.55,61.82,35.64,3.12,100.01
2024-01-01,India,5000,120.0,3500.0,1380.0,2.40,70.00,27.60,0.00,100.00
2024-01-02,India,5200,125.0,3600.0,1475.0,2.40,69.23,28.37,4.00,100.00
2024-01-03,India,5400,125.0,3700.0,1575.0,2.31,68.52,29.17,3.85,100.00
2024-01-04,India,5600,135.0,3700.0,1765.0,2.41,66.07,31.52,3.70,100.00
2024-01-05,India,5800,140.0,3900.0,1760.0,2.41,67.24,30.34,3.57,99.99
2024-01-06,India,6000,140.0,4000.0,1860.0,2.33,66.67,31.00,3.45,100.00
2024-01-07,India,6200,150.0,4200.0,1850.0,2.42,67.74,29.84,3.33,100.00
2024-01-08,India,6400,155.0,4200.0,2045.0,2.42,65.62,31.95,3.23,99.99
2024-01-09,India,6600,160.0,4600.0,1840.0,2.42,69.70,27.88,3.12,100.00
2024-01-10,India,6800,160.0,4800.0,1840.0,2.35,70.59,27.06,3.03,100.00
2024-01-01,USA,8200,200.0,6000.0,2000.0,2.44,73.17,24.39,0.00,100.00
2024-01-02,USA,8400,200.0,6200.0,2000.0,2.38,73.81,23.81,2.44,100.00
2024-01-03,USA,8600,220.0,6200.0,2180.0,2.56,72.09,25.35,2.38,100.00
2024-01-04,USA,8800,230.0,6600.0,1970.0,2.61,75.00,22.39,2.33,100.00
2024-01-05,USA,9000,230.0,6800.0,1970.0,2.56,75.56,21.89,2.27,100.01
2024-01-06,USA,9200,250.0,6800.0,2150.0,2.72,73.91,23.37,2.22,100.00
2024-01-07,USA,9400,260.0,7200.0,1940.0,2.77,76.60,20.64,2.17,100.01
2024-01-08,USA,9600,260.0,7400.0,1940.0,2.71,77.08,20.21,2.13,100.00
2024-01-09,USA,9800,280.0,7400.0,2120.0,2.86,75.51,21.63,2.08,100.00
2024-01-10,USA,10000,290.0,7800.0,1910.0,2.90,78.00,19.10,2.04,100.00
2024-01-01,UK,3000,70.0,2200.0,730.0,2.33,73.33,24.33,0.00,99.99
2024-01-02,UK,3100,70.0,2300.0,730.0,2.26,74.19,23.55,3.33,100.00
2024-01-03,UK,3200,75.0,2300.0,825.0,2.34,71.88,25.78,3.23,100.00
2024-01-04,UK,3300,77.0,2500.0,723.0,2.33,75.76,21.91,3.12,100.00
2024-01-05,UK,3400,77.0,2600.0,723.0,2.26,76.47,21.26,3.03,99.99
2024-01-06,UK,3500,82.0,2600.0,818.0,2.34,74.29,23.37,2.94,100.00
2024-01-07,UK,3600,85.0,2800.0,715.0,2.36,77.78,19.86,2.86,100.00
2024-01-08,UK,3700,85.0,2900.0,715.0,2.30,78.38,19.32,2.78,100.00
2024-01-09,UK,3800,90.0,2900.0,810.0,2.37,76.32,21.32,2.70,100.01
2024-01-10,UK,3900,90.0,3100.0,710.0,2.31,79.49,18.21,2.63,100.01